.section-title h2 {
    margin-bottom: 5px;
}
.banner-area-2 {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
}
.banner-area-2 .banner-content {
position: relative;
}
.banner-area-2 .banner-content h1 {
color: var(--secondary_color);
font-family: "Poppins", sans-serif;
font-weight: 700;
line-height: 56px;
}
.banner-area-2 .banner-content p {
font-size: 16px;
font-family: "Poppins", sans-serif;
font-weight: 400;
color: var(--p_color);
}
.banner-area-2 {
background: #F2F2F2;
}
.banner-area-2 .banner-content h1 {
color: #fff;
line-height: 65px;
font-size: 55px;
margin-bottom: 0;
font-weight: 700;
}
.banner-area-2 .banner-content p {
font-size: 18px;
color: #fff;
margin-top: 10px;
}
@media screen and (min-width: 720px)
{
.banner-area-2 .banner-content h1 {
line-height: 1.2;
font-size: clamp(3rem, 1.8rem + 2.26667vw, 5rem)
}
.banner-area-2 .banner-content p {
font-size: 16px;
}
}
@media screen and (min-width: 90rem)
{
.banner-area-2 .banner-content h1 {
line-height: 1.2;
font-size: 4rem;
}
}

.background_banner_contact {
background: url(../images/contact/contactbanner.jpg);
padding: 16px 16px 16px 64px;
border-radius: 20px;
background-size: cover;
height: calc(100vh - 147px);
max-height: 700px;
}
.background_banner_contact {
    position: relative;
}

.background_banner_contact:after {
    background: #000000bf;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
}

.banner-content {
    position: relative;
    z-index: 1;
}
	.background_banner p.gUpQex {
    color: #a1a1a3;
    margin: 0 0 15px;
    font-weight: 500;
}
@media (min-width: 1024px)
{
	.background_banner p.gUpQex {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.015rem;
}
}

/*contact css*/
 .form_boxcontact {
    box-shadow: 0px 10px 40px -5px rgb(0 0 0 / 15%);
    padding: 1.5rem;
    border-radius: 8px 8px 8px 8px;
    padding-bottom: 35px;
    background-color: #fff;
}

 .formtitle h2
{
	font-size: 28px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 7px;
}
.separator_line {
    border-right: 1px solid #000;
    width: 100%;
    margin-bottom: 25px;
    height: 1px;
    background: #0000001a;
}
.contact-form-widget label {
    padding-bottom: 0px;
    font-size: 14px;
    margin-bottom: 5px;    font-weight: 500;
}
 .contact-form-widget .form-control {
 	margin-bottom: 13px;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
        min-height: 47px;
    padding: 6px 16px;
    font-weight: 400;
    line-height: 1.3em;
    color: #333;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #d9d9d982;
    border-radius: 3px;
}
.checkbox_input label
{
	font-size: 14.5px; color: #00000087; position: relative; padding-left: 20px;
}
.checkbox_input label input{
    top: 5px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    font-size: 14px;
}
.feature-area {
  position: relative;
  z-index: 2;
}

.feature-card-widget,
.feature-card-widget-2,
.feature-card-widget-4,
.feature-card-widget-5,
.feature-card-widget-6,
.feature-card-widget-7 {
  text-align: center;
  background-color: var(--bs-white);
  box-shadow: 0 1.6px 3.6px 0 rgba(51, 77, 114, 0.15);
  transition: all 0.3s ease-out;
}
.feature-card-widget:hover,
.feature-card-widget-2:hover,
.feature-card-widget-4:hover,
.feature-card-widget-5:hover,
.feature-card-widget-6:hover,
.feature-card-widget-7:hover {
  box-shadow: 0 20px 45px rgba(51, 77, 114, 0.15);
}
.feature-card-widget img,
.feature-card-widget-2 img,
.feature-card-widget-4 img,
.feature-card-widget-5 img,
.feature-card-widget-6 img,
.feature-card-widget-7 img {
  max-width: 100%;
}
.feature-card-widget h4,
.feature-card-widget-2 h4,
.feature-card-widget-4 h4,
.feature-card-widget-5 h4,
.feature-card-widget-6 h4,
.feature-card-widget-7 h4 {
  font-size: 24px;
  color: var(--secondary_color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.feature-card-widget h5,
.feature-card-widget-2 h5,
.feature-card-widget-4 h5,
.feature-card-widget-5 h5,
.feature-card-widget-6 h5,
.feature-card-widget-7 h5 {
  font-size: 20px;
  color: var(--secondary_color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.feature-card-widget p,
.feature-card-widget-2 p,
.feature-card-widget-4 p,
.feature-card-widget-5 p,
.feature-card-widget-6 p,
.feature-card-widget-7 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--p_color);
  line-height: 26px;
}

.feature-card-widget {
  padding: 40px 25px;
  border-radius: 10px;
}
.feature-card-widget:hover {
  box-shadow: 0px 20px 45px rgba(51, 77, 114, 0.15);
}
.feature-card-widget:hover h4 {
  color: var(--theme-color);
}
.feature-card-widget .card-img {
  position: relative;
}
.feature-card-widget .card-img img {
  max-width: 100%;
  margin: 15px 0 25px 0;
  min-height: 54px;
}
.feature-card-widget h4 {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.feature-card-widget p {
  margin: 11px 0 5px 0;
}

.feature-card-widget-2 {
  padding: 30px 25px;
  border-radius: 10px;
}
.feature-card-widget-2 .icon-bg-1,
.feature-card-widget-2 .icon-bg-2,
.feature-card-widget-2 .icon-bg-3,
.feature-card-widget-2 .icon-bg-4 {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.feature-card-widget-4 {
  padding: 40px 20px;
  min-height: 275px;
  border-radius: 10px;
}
.feature-card-widget-4 .theme-btn {
  border-color: rgba(0, 80, 178, 0.5);
}
.feature-card-widget-4 .social-button a {
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--p_color);
  line-height: 37px;
  border: 1px solid var(--p_color);
  margin-right: 15px;
}
.feature-card-widget-4 .social-button a:last-child {
  margin-right: 0;
}
.feature-card-widget-4 .social-button a:hover {
  border-color: var(--brand_color);
  background-color: var(--brand_color);
  color: #fff;
}


.feature-card-widget-4 a strong {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.feature-card-widget-4 {
    color: #333;
}

.feature-card-widget-4 a {
    display: block;
}
select.form-control.nice-select {
    width: 100%;
}
.contact_form.contact-form-widget {
    background: #fff;
}
.checkbox_inputlabel
{
	position: relative;
}
textarea
{
	resize: none;
}
@media screen and (max-width:  1100px)
{
	.feature-card-widget-4 {
    min-height: 296px;
}
}
@media screen and (max-width:  991px)
{
.row.mt-60.gy-lg-0.gy-4.justify-content-center {
    margin-top: 30px;
}
}
@media screen and (max-width:  767px)
{
	.feature-card-widget-4 {
    min-height: auto;
}
.formtitle h2 {
    font-size: 24px;
    line-height: 1.3;
}
.pb-100 {
    padding-bottom: 60px;
}
.pt-100 {
    padding-top: 60px;
}
.row.mt-60.gy-lg-0.gy-4.justify-content-center {
    margin-top: 0;
}
}
section.cta-area.pt-60 {
    background: #F6F7F8;
}
.niceclass
{
	width: 100%;
}
.nice-select.form-control.niceclass {
    line-height: 33px;
}

.nice-select.form-control.niceclass ul {
    width: 100%;
}